@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
